#labelContainer {
  border: 10px solid black;
  padding-left: 20px;
}

#labels {
  padding-bottom: 20px;
}

.button {
  background-color: white;
  border: 2px solid red;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#top {
  width: 100%;
  height: 10%;
}

#instructions {
  border: 10px solid red;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  float: left;
  width: 60%;
  /*margin-bottom: 10px;*/
}

#buttons {
  border: 10px solid blue;
  float: right;
  width: 30%;
}

#button-start, #button-continue {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button-continue {
  visibility: hidden;
}

#pictureContainer {
  border: 10px solid green;
  float: left;
  margin-top: 20px;
  width: 55%;
}

#pictureContainer p {
  padding-left: 20px;
  font-size: 18px;
}

#middle-right {
  margin-top: 20px;
  float: right;
  width: 40%;
}

/*#middle {
  margin-top: 40px;
}*/

#time {
  padding-left: 20px;
  border: 10px solid yellow;
  font-size: 18px;
}
