#content {
  margin: auto;
  width: 70%;
  border: 1px solid green;
  padding: 25px;
}

.dropZone {
  display: inline-block;
  width: 4em;
  height: 1em;
  border-bottom: 1px solid black;
  text-align: center;
}

#incorrect {
  color: red;
}

#correct {
  color: green;
}

#dropZone {
  color: black;
}

#wordBank {
  font-size: 28px;
  border: 1px solid black;
  display: inline-flex;
  width: 100%;
  overflow: auto;
}

#fillIns {
  padding-top: 50px;
  font-size:28px;
  padding-right: 30px;
}

#home1, #home2, #home3, #home4, #home5, #home6, #home7, #home8, #home9, #home10 {
  display: inline-flex;
  padding: 10px;
  height: 1.5em;
  width: 3em;;
  margin: 10px;
  border: 1px solid black;
  background-color: #aaaaaa;
}
