/*border: solid 1px #32617E;
      background: url(images/background-swipe.png) center center no-repeat #0B1D28;
      box-shadow: 0 3px 5px #000 inset;
      color: #fff;*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
body {
  background-color: white;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a {
  color: #1e79a7;
}
a:hover {
  color: #42abcf;
  text-decoration: underline;
}
a.TextColor:hover, a:hover .TextColor {
  color: #42abcf;
}

a.Highlight,
.Pager .Highlight,
.TextColor,
a.TextColor,
.TextColor a {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.Gloss {
  color: #7ea1b2;
}

mark {
  color: white;
  background: #1e79a7;
}

/*$heroUnitBackground:              #a5d2e9 !default;
$heroUnitHeadingColor:            #005580 !default;
$heroUnitLeadColor:               inherit !default;*/
.Hero {
  background: rgba(213, 239, 255, 0.5);
}
.Hero h1, .Hero h2, .Hero h3, .Hero h4, .Hero h5, .Hero h6 {
  color: #005580;
}

.CasualMessage {
  background: #064869;
  border-color: #0cffff;
  color: white;
}
.CasualMessage a {
  color: white;
  text-decoration: underline;
}
.CasualMessage a.Dismiss {
  color: white;
}

.WarningMessage {
  background: maroon;
  border-color: #ff9999;
  color: white;
}
.WarningMessage a {
  color: white;
  text-decoration: underline;
}
.WarningMessage a.Dismiss {
  color: white;
}

.Errors ul {
  background-color: maroon !important;
  border-color: #ff9999 !important;
  color: white;
}
.Errors ul li {
  background: transparent !important;
  color: inherit !important;
}
.Errors ul a {
  color: white;
  text-decoration: underline;
}

.InfoMessage {
  background: #004b14;
  border-color: #05ff43;
  color: white;
}
.InfoMessage a {
  color: white;
  text-decoration: underline;
}
.InfoMessage a.Dismiss {
  color: white;
}

.AlertMessage {
  background: #663000;
  border-color: #ffdd88;
  color: white;
}
.AlertMessage a {
  color: white;
  text-decoration: underline;
}
.AlertMessage a.Dismiss {
  color: white;
}

input.InputBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  vertical-align: middle;
}

input.DateBox, input.InputBox, input.SmallInput, textarea, select, ul.token-input-list {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background: white;
  border: solid 1px #e4e9ec;
  border-radius: 0;
  font-size: 13px;
}
input.DateBox:focus, input.InputBox:focus, input.SmallInput:focus, textarea:focus, select:focus, ul.token-input-list:focus {
  background: white;
}

div.Popup .Body {
  background: white;
}

a.Close {
  color: black;
}

.DataList > .Item {
  border-color: #e4e9ec;
}
.DataList .Meta {
  color: #599abb;
}

.DataTable td {
  border-bottom-color: #e4e9ec;
}

.ChildCategories {
  border-color: #e4e9ec;
}

.Block .Meta {
  color: #599abb;
}
.Block .Meta a {
  color: #599abb;
}
.Block .Meta a:hover {
  color: #42abcf;
}

.Item.Read {
  background: #f9fafb;
  opacity: 1;
  color: #8aa0ad;
}
.Item.Read a {
  color: #8aa0ad;
}
.Item.Read a:hover {
  color: #42abcf;
}

.ReactButton {
  color: #8e8e8e;
}
.ReactButton .Count {
  background: #8e8e8e;
  color: white;
}
.ReactButton:hover {
  color: #1e79a7;
}
.ReactButton:hover .Count {
  background: #1e79a7;
}

ul.token-input-list li input {
  box-shadow: none !important;
  background: transparent;
  color: black;
  font-size: 13px;
}

li.token-input-token {
  border: solid 1px black;
}

div.token-input-dropdown {
  background-color: white;
  border-color: #e4e9ec;
}
div.token-input-dropdown ul li,
div.token-input-dropdown ul li.token-input-dropdown-item,
div.token-input-dropdown ul li.token-input-dropdown-item2 {
  background-color: white;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
  background-color: #004d9f;
}

.Tag, .Count {
  color: white;
  background: #418aa3;
}

.MenuItems {
  background: white;
  border-color: #e4e9ec;
  color: #022c44;
}
.MenuItems a, .MenuItems a:link, .MenuItems a:visited, .MenuItems a:active {
  color: #022c44 !important;
}
.MenuItems a:hover {
  color: white !important;
  background-color: #004d9f !important;
}
.MenuItems hr {
  border-color: #e4e9ec;
}
.ButtonGroup .MenuItems {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
}
.MenuItems.Up:before {
  border-top-color: #e4e9ec;
}
.MenuItems.Up:after {
  border-top-color: white;
}

.Flyout:before {
  border-bottom-color: #e4e9ec;
}
.Flyout:after {
  border-bottom-color: white;
}

.FlyoutMenu {
  background: white;
  color: #022c44;
  border-color: #e4e9ec;
}
.FlyoutMenu a {
  color: #1e79a7 !important;
}

.PopList .Item {
  border-color: #e4e9ec;
}
.PopList .Item:hover {
  color: white;
  background-color: #004d9f;
}
.PopList .Item:hover a {
  color: white !important;
}
.PopList .Item.Empty:hover, .PopList .Item.Title:hover {
  background: inherit;
  color: inherit;
}
.PopList .Item.Empty:hover a, .PopList .Item.Title:hover a {
  color: inherit;
}

.Button {
  height: 30px;
  padding: 1ex;
  background-color: #666666;
  background-image: none;
  border: none;
  border-radius: 0.2em;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-shadow: none;
  line-height: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.Button:hover {
  border: none;
  background-color: #999999;
  color: white;
  text-decoration: none !important;
}
.Button.Primary {
  color: white;
  background-color: #fd7e28;
  border: none;
}
.Button.Primary:hover {
  background-color: #fc9d2c;
  border: none;
  color: white;
}
.Button.BigButton {
  height: auto;
}

.InputAndButton .Handle .Arrow {
  border-top-color: black;
}

.NavButton.Handle .Sprite,
.Button.Handle .Sprite {
  border-top-color: white;
}

.Button .Button.Active, .ButtonGroup.Open .Button.Handle, .Button:focus, .Button:active {
  background-color: #595959;
  border-color: #4d4d4d;
}
.Button.Primary .Button.Active, .ButtonGroup.Open .Button.Primary.Handle, .Button.Primary:focus, .Button.Primary:active {
  background-color: #fd6f0f;
  border-color: #f06202;
}

.ButtonGroup.Big .Button,
.ButtonGroup.Big .NavButton {
  height: 34px;
}

.Sprite, .Sprite16 {
  background-image: url("//vanillicon.com/sprites/sprites-14-000000.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .Sprite, .Sprite16 {
    background-image: url("//vanillicon.com/sprites/sprites-28-000000.png");
    background-size: 396px;
  }
}

a .Sprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-1e79a7.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  a .Sprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-1e79a7.png");
    background-size: 396px;
  }
}
a .Sprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-42abcf.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  a .Sprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-42abcf.png");
    background-size: 396px;
  }
}

.Button > .Sprite, .Button > .Sprite16, .NavButton > .Sprite, .NavButton > .Sprite16 {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: top;
  background-image: url("//vanillicon.com/sprites/sprites-14-ffffff.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .Button > .Sprite, .Button > .Sprite16, .NavButton > .Sprite, .NavButton > .Sprite16 {
    background-image: url("//vanillicon.com/sprites/sprites-28-ffffff.png");
    background-size: 396px;
  }
}

.MeButton .Sprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-ffffff.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .MeButton .Sprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-ffffff.png");
    background-size: 396px;
  }
}
.MeButton:hover {
  background: none;
}
.MeButton:hover .Sprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-ffb534.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .MeButton:hover .Sprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-ffb534.png");
    background-size: 396px;
  }
}

.ReactButton {
  color: #8e8e8e;
}
.ReactButton .Count {
  background: #8e8e8e;
}
.ReactButton > .ReactSprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-8e8e8e.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ReactButton > .ReactSprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-8e8e8e.png");
    background-size: 396px;
  }
}
.ReactButton:hover {
  color: #1e79a7;
}
.ReactButton:hover .Count {
  background: #1e79a7;
}
.ReactButton:hover > .ReactSprite {
  background-image: url("//vanillicon.com/sprites/sprites-14c-1e79a7.png");
}

.UserReactionWrap .ReactSprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-outline-000000.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .UserReactionWrap .ReactSprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-outline-000000.png");
    background-size: 396px;
  }
}

a.Bookmark,
a.Boomarking,
a.Bookmarked,
.OptionsTitle {
  background-image: url("//vanillicon.com/sprites/ui_sprites-16c-000000.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  a.Bookmark,
  a.Boomarking,
  a.Bookmarked,
  .OptionsTitle {
    background-image: url("//vanillicon.com/sprites/ui_sprites-32c-000000.png");
    background-size: 30px;
  }
}

.QuickSearchButton .Sprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-1e79a7.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .QuickSearchButton .Sprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-1e79a7.png");
    background-size: 396px;
  }
}

.MenuItems li .ReactButton > .ReactSprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-022c44.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .MenuItems li .ReactButton > .ReactSprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-022c44.png");
    background-size: 396px;
  }
}
.MenuItems li .ReactButton:hover > .ReactSprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-ffffff.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .MenuItems li .ReactButton:hover > .ReactSprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-ffffff.png");
    background-size: 396px;
  }
}

.ReactEverything {
  background-position: -360px -100px;
}

.ReactAwesome {
  background-position: -240px -20px;
}

.ReactFlag {
  background-position: -60px -60px;
}

.ReactInsightful {
  background-position: -140px -20px;
}

.ReactOffTopic {
  background-position: -160px -20px;
}

.ReactAbuse {
  background-position: -20px -60px;
}

.SpSpam, .ReactSpam {
  background-position: -120px -20px;
}

.ReactTroll {
  background-position: -100px -20px;
}

.ReactPromote {
  background-position: -60px -40px;
}

.ReactDisagree {
  background-position: -40px -20px;
}

.ReactAgree {
  background-position: -20px -20px;
}

.ReactDislike {
  background-position: -40px -40px;
}

.ReactHelpful {
  background-position: -240px -140px;
}

.ReactLike {
  background-position: -20px -40px;
}

.ReactDown {
  background-position: -200px -40px;
}

.ReactUp {
  background-position: -180px -40px;
}

.ReactWTF {
  background-position: -80px -20px;
}

.ReactLOL {
  background-position: -60px -20px;
}

.ReactQuote {
  background-position: -280px -20px;
}

.ReactInfraction {
  background-position: -200px -20px;
}

.ReactAccept {
  background-position: -20px -100px;
}

.ReactReject {
  background-position: -40px -100px;
}

.ReactFacebook {
  background-position: -40px -120px;
}

.ReactTwitter {
  background-position: -60px -120px;
}

.ReactGooglePlus {
  background-position: -80px -120px;
}

.ReactWarn {
  background-position: -200px -20px;
}

/** General Sprites **/
.SpActivity {
  background-position: -160px -120px;
}

.SpAllCategories {
  background-position: -60px -140px;
}

.SpApplicants {
  background-position: -260px -40px;
}

.SpBadge {
  background-position: -240px -140px;
}

.SpBan {
  background-position: -300px -20px;
}

.SpBestOf {
  background-position: -80px -80px;
}

.SpBookmarks {
  background-position: -100px -80px;
}

.SpComments, .SpComment {
  background-position: -160px -80px;
}

.SpConnection {
  background-position: -320px -20px;
}

.SpDashboard {
  background-position: -340px -20px;
}

.SpDelete {
  background-position: -340px -140px;
}

.SpDiscussions, .SpMyDiscussions {
  background-position: -200px -80px;
}

.SpGroups {
  background-position: -240px -40px;
}

.SpImage {
  background-position: -120px -140px;
}

.SpInbox {
  background-position: -80px -100px;
}

.SpMessage {
  background-position: -100px -100px;
}

.SpMod {
  background-position: -260px -60px;
}

.SpMyDrafts {
  background-position: -180px -20px;
}

.SpNotifications {
  background-position: -160px -100px;
}

.SpOptions {
  background-position: -180px -60px;
}

.SpPhoto {
  background-position: -160px -60px;
}

.SpProfile, .SpEditProfile {
  background-position: -220px -40px;
}

.SpQuote {
  background-position: -280px -20px;
}

.SpReply {
  background-position: -140px -40px;
}

.SpSignOut {
  background-position: -240px -100px;
}

.SpSearch {
  background-position: -220px -100px;
}

.SpText {
  background-position: -160px -80px;
}

.SpUnansweredQuestions {
  background-position: -60px -100px;
}

.SpWarn, .SpWarnings {
  background-position: -200px -20px;
}

/** Body **/
body {
  -webkit-font-smoothing: antialiased;
}

/** Grid **/
.Row {
  width: 970px;
  *zoom: 1;
}
.Row:after {
  content: "";
  display: table;
  clear: both;
}

#Body #Panel {
  float: left;
  width: 175px;
}
#Body #Content {
  float: left;
  width: 765px;
  margin-left: 30px;
}
body.NoPanel #Body #Content {
  float: none;
  margin: auto;
}

#Panel {
  font-size: 12px;
  line-height: 20px;
}
#Panel h2, #Panel h4 {
  border-color: #B8B8B8;
  border-width: 0 0 1px;
  border-style: solid;
  color: #1e79a7;
  font-weight: normal;
  text-transform: uppercase;
}
#Panel .Box {
  margin: 15px 0;
}
#Panel .PanelInfo .Item {
  padding: 8px 0;
  border: none;
  font-size: 12px;
  line-height: 16px;
}
#Panel .PanelInfo .Item:first-child {
  border: none;
}
#Panel .PanelInfo .DiscussionTitle {
  font-weight: bold;
}
#Panel .PanelInfo .UserTitle {
  font-weight: bold;
}
#Panel .PanelInfo .ProfilePhotoSmall {
  height: 20px;
  width: 20px;
}
#Panel .FilterMenu li, #Panel .PanelInfo li {
  padding: 5px 0;
  line-height: 14px;
}
#Panel .FilterMenu li, #Panel .FilterMenu li:first-child, #Panel .PanelInfo li, #Panel .PanelInfo li:first-child {
  border: none;
}
#Panel .FilterMenu a, #Panel .PanelInfo a {
  font-weight: bold;
}
#Panel .FilterMenu .Active, #Panel .PanelInfo .Active {
  background: none;
}
#Panel .FilterMenu .Aside, #Panel .PanelInfo .Aside {
  float: none;
}
#Panel .FilterMenu .Count, #Panel .PanelInfo .Count {
  margin-left: 5px;
  background-color: #A6A6A6;
  font-weight: bold;
}

.MenuItems a {
  font-weight: normal !important;
}
.MenuItems a, .MenuItems a:link, .MenuItems a:visited, .MenuItems a:active {
  color: #000 !important;
}
.MenuItems a:hover {
  background-color: #ededed !important;
  color: #000 !important;
  text-decoration: none !important;
}

.Flyout a {
  color: #1e79a7;
  font-weight: bold;
}
.Flyout a:hover {
  color: #42abcf;
  text-decoration: underline;
}

.PopList .Item:hover {
  background-color: #ededed;
  color: #1e79a7;
}
.PopList .Item:hover a {
  color: #1e79a7 !important;
  text-decoration: none;
}

.BreadcrumbsWrapper {
  margin: 5px 0 20px;
}

.Breadcrumbs a {
  font-weight: bold;
}
.Breadcrumbs .CrumbLabel.Last a {
  font-weight: normal;
  color: black;
}
.Breadcrumbs .Crumb {
  color: #599abb;
}

.SiteIntro {
  *zoom: 1;
}
.SiteIntro:after {
  content: "";
  display: table;
  clear: both;
}
.SiteIntro .ColumnLeft {
  float: left;
  width: 460px;
  margin-right: 40px;
}
.SiteIntro .ColumnRight {
  float: right;
  width: 245px;
}
.SiteIntro .ColumnRight h2 {
  margin-bottom: 10px;
  color: #fd7322;
  font-size: 20px;
}
.SiteIntro .BigButton {
  font-size: 20px;
}

/** Typography **/
h1.HomepageTitle {
  font-size: 26px;
  margin: 3px 0 10px;
}

h1 {
  margin-top: 0;
}

.PageTitle {
  margin-bottom: 20px;
}
.PageTitle .Options {
  display: block;
  float: none;
}
.PageTitle .BoxNewDiscussion {
  float: right;
}
.PageTitle a.Bookmark {
  height: auto;
  width: auto;
  margin-right: 10px;
  padding-left: 24px;
  color: #8A8A8A;
  font-weight: bold;
  font-size: 13px;
  text-indent: 0;
  line-height: 18px;
}
.PageTitle a.Bookmark:hover {
  color: #585858;
}

.PageDescription {
  color: #9A9A9A;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin: 10px 0 15px;
}

.Tag, .Count {
  border-radius: 1px;
}

/** DataTable, DataList **/
.DataTable td {
  padding: 12px 4px;
}
.DataTable td.Participated {
  width: 30px;
  text-align: center;
}
.DataTable thead td {
  border-color: #C0C0C0;
  border-image: none;
  border-style: solid;
  border-width: 0 0 2px;
  color: #000000;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}
.DataTable tbody td.BigCount {
  width: 60px;
  background: #f9fafb;
  color: #2d2e2f;
  font-size: 13px;
}
.DataTable tbody td.BigCount + td.BigCount {
  border-left: solid 1px #fff;
}
.DataTable tbody .Item.Read .Title {
  color: #40525d;
}
.DataTable tbody .Item.Read td.BigCount {
  background: #f2f4f6;
}
.DataTable .DiscussionName {
  line-height: 16px;
}
.DataTable .User-Participated {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background-image: url("images/user-participated.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.Block .MItem {
  font-weight: normal;
}

.BlockTitle {
  padding-bottom: 0;
}

.HasNew {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #A6A6A6;
  color: #FFFFFF;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  padding: 3px;
  white-space: nowrap;
}

.Tag {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 0;
  margin: -3px 0;
  background-color: transparent;
  border-radius: 0;
}

.Tag-Featured {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/thread_flame.png?1405018157');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 13px;
  height: 16px;
}

.Tag-Closed {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/thread_lock.png?1405018157');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 13px;
  height: 16px;
}

.Tag-Announcement {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/thread_pinned.png?1405018157');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 13px;
  height: 16px;
}

/** Pager **/
.Pager {
  font-weight: normal;
}
.PrevNextPager {
  font-weight: bold;
}
.Pager a, .Pager span {
  background: #e4e9ec;
  text-align: center;
  min-width: 16px;
  padding: 0 4px;
  margin: 0 1px;
}
.Pager a:hover {
  background: #f3f5f7;
}
.Pager a.Highlight {
  background: #d5dde1;
}

.MiniPager {
  background: #e4e9ec;
  line-height: 18px;
  margin: 0;
}
.MiniPager a, .MiniPager .Elipsis {
  line-height: 18px;
  display: inline-block;
  border-right: solid 1px #fff;
  padding: 0 4px;
  margin: 0;
}
.MiniPager a:last-child, .MiniPager .Elipsis:last-child {
  border: none;
}

.PageControls {
  margin: 10px 0;
}

/** Jump to category **/
.JumpToCategory {
  margin-bottom: 40px;
}
.JumpToCategory h2 {
  color: #555555;
  font-weight: normal;
  text-transform: uppercase;
}
.JumpToCategory .List {
  *zoom: 1;
  display: block;
  margin: 0 -3px;
}
.JumpToCategory .List:after {
  content: "";
  display: table;
  clear: both;
}
.JumpToCategory .List li {
  float: left;
  width: 25%;
}
.JumpToCategory .List li a {
  min-height: 32px;
  height: auto !important;
  height: 32px;
  display: block;
  margin: 3px;
  padding: 8px;
  padding-left: 35px;
  background-color: #666666;
  background-image: url('images/arrow.png?1405018157');
  background-repeat: no-repeat;
  background-position: center left;
  color: white;
  font-weight: bold;
  line-height: 16px;
}
.JumpToCategory .List li.Cat-Purple a {
  background-color: #5b65a0;
}
.JumpToCategory .List li.Cat-Green a {
  background-color: #4f817e;
}
.JumpToCategory .List li.Cat-Blue a {
  background-color: #418aa3;
}
.JumpToCategory .List li.Cat-Red a {
  background-color: #b44949;
}

/** Category list **/
.CategoryGroup {
  margin-top: 20px;
}
.CategoryGroup > h2 {
  background: #666666;
  padding: 8px 5px;
  margin-bottom: 0;
}
.CategoryGroup > h2, .CategoryGroup > h2 a {
  color: #fff;
}
.CategoryGroup.Cat-Purple > h2 {
  background: #5b65a0;
}
.CategoryGroup.Cat-Green > h2 {
  background: #4f817e;
}
.CategoryGroup.Cat-Blue > h2 {
  background: #418aa3;
}
.CategoryGroup.Cat-Red > h2 {
  background: #b44949;
}
.CategoryGroup .CategoryList {
  font-size: 11px;
}
.CategoryGroup .CategoryList .Item {
  *zoom: 1;
  padding: 15px 0 !important;
}
.CategoryGroup .CategoryList .Item:after {
  content: "";
  display: table;
  clear: both;
}
.CategoryGroup .CategoryList .CategoryName {
  float: left;
  width: 40%;
}
.CategoryGroup .CategoryList .CategoryName h2 {
  line-height: 20px;
  margin-bottom: 5px;
}
.CategoryGroup .CategoryList .CategoryName h2 a {
  font-size: 16px;
  font-weight: normal;
  vertical-align: top;
}
.CategoryGroup .CategoryList .CategoryName .Meta {
  color: black;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
}
.CategoryGroup .CategoryList .LatestPost {
  float: right;
  width: 60%;
}
.CategoryGroup .CategoryList .LatestPost .PhotoWrap {
  float: left;
  margin-right: 15px;
}
.CategoryGroup .CategoryList .LatestPost .ProfilePhoto {
  width: 35px;
  height: 35px;
}
.CategoryGroup .CategoryList .LatestPost .LatestPostTitle {
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}
.CategoryGroup .CategoryList .LatestPost .Meta {
  overflow: hidden;
  color: black;
  font-size: 11px;
  font-weight: normal;
  line-height: 17px;
}
.CategoryGroup .CategoryList .ChildCategoryList {
  clear: both;
  margin: 0;
  padding-top: 10px;
  line-height: 10px;
}
.CategoryGroup .CategoryList .ChildCategoryList a {
  float: left;
  margin: 6px 0;
  padding: 0 10px;
  border-color: #B4B4B4;
  border-width: 0 1px 0 0;
  border-style: solid;
}
.CategoryGroup .CategoryList .ChildCategoryList a:last-child {
  border: none;
}
.CategoryGroup .CategoryList .ChildCategoryList .ChildCategoryLabel {
  float: left;
  margin: 6px 0;
  font-weight: bold;
}
.CategoryGroup .CategoryList .ChildCategoryList .Wrap {
  overflow: hidden;
}
.CategoryGroup .ChildCategories {
  overflow: hidden;
  margin: 4px 0;
  padding-top: 4px;
}
.CategoryGroup .ChildCategories > b {
  display: none;
}
.CategoryGroup .ChildCategories a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 50%;
  line-height: 16px;
  padding: 4px 4px 0 8px;
  position: relative;
}
.CategoryGroup .ChildCategories a:before {
  content: "\2022 ";
  position: absolute;
  display: inline-block;
  left: 0px;
  color: #81b1c9;
}
.CategoryGroup .ChildCategories .Comma {
  display: none;
}
.CategoryGroup + .CategoryGroup {
  margin-top: 40px;
}

/** Discussion List **/
.Section-DiscussionList h3.H {
  margin: 0;
  padding: 5px 10px;
  background-color: #F3F2F2;
  font-weight: normal;
}
.Section-DiscussionList .DataTable td {
  vertical-align: middle;
}
.Section-DiscussionList .DataTable thead td {
  padding-top: 10px;
}
.Section-DiscussionList .DataTable .FirstUser .PhotoWrap {
  display: none;
}

.SubTopicsToggle {
  margin: 0;
  padding: 6px 10px;
  background-color: #538DAF;
  line-height: 16px;
}
.SubTopicsToggle a {
  color: #FFF;
}
.SubTopicsToggle.close {
  background-color: #F3F2F2;
}
.SubTopicsToggle.close a {
  color: #000;
}
.SubTopicsToggle.close .Arrow {
  color: #538DAF;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.SubTopicsToggle .Arrow {
  display: inline-block;
  width: 16px;
  font-size: 14px;
  text-align: center;
}

.SubTopics {
  padding-bottom: 2px;
  line-height: 20px;
}
.SubTopics .Subtree-Counts {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 12px;
  font-weight: bold;
}
.SubTopics .Subtree-Count {
  display: inline-block;
  text-align: right;
  min-width: 115px;
}
.SubTopics .CategoryTable {
  margin-bottom: 20px;
  font-size: 11px;
}
.SubTopics .CategoryTable .CategoryName {
  padding-right: 20px;
}
.SubTopics .CategoryTable .CategoryName h2 {
  line-height: 20px;
}
.SubTopics .CategoryTable .CategoryName h2 a {
  font-size: 14px;
}
.SubTopics .CategoryTable .CategoryName .Meta {
  color: black;
  font-weight: bold;
  line-height: 15px;
}
.SubTopics .ChildCategories {
  border-top: none;
  line-height: 10px;
  margin-top: 3px;
}
.SubTopics .ChildCategories a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 3px 0;
  line-height: 1.4;
}
.SubTopics .ChildCategories .Wrap {
  overflow: hidden;
}
.SubTopics .ChildCategories-Cols a {
  float: left;
  width: 33%;
  padding: 0 10px 0 0;
}
.SubTopics .ChildCategories-Cols a:nth-of-type(n) {
  clear: none;
}
.SubTopics .ChildCategories-Cols a:nth-of-type(3n+1) {
  clear: both;
}
.SubTopics .ChildCategories-Sep a:after {
  content: "|";
  color: #B4B4B4;
  margin: 0 10px;
}
.SubTopics .ChildCategories-Sep a:last-child:after {
  content: "";
}

#Content .BoxNewDiscussion {
  display: inline-block;
}

.Button.NewDiscussion {
  height: auto;
  font-size: 17px;
}

/** Discussion **/
#Content {
  float: left;
  margin: 0;
}

.Section-Discussion #Content .CommentHeading {
  margin: 12px 0;
}
.Section-Discussion #Content .Item {
  *zoom: 1;
  background: -webkit-gradient(linear, 50% 0%, 50% 20, color-stop(0%, #f3f4f4), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#f3f4f4 0px, #ffffff 20px);
  background: -moz-linear-gradient(#f3f4f4 0px, #ffffff 20px);
  background: -o-linear-gradient(#f3f4f4 0px, #ffffff 20px);
  background: linear-gradient(#f3f4f4 0px, #ffffff 20px);
  padding: 35px 0;
  border-color: #B8B8B8;
}
.Section-Discussion #Content .Item:after {
  content: "";
  display: table;
  clear: both;
}
.Section-Discussion #Content .Item:first-child {
  border-top: 1px solid #B8B8B8;
}
.Section-Discussion #Content .Item .AuthorWrap {
  float: left;
  line-height: 1.3;
}
.Section-Discussion #Content .Item .AuthorWrap .Username, .Section-Discussion #Content .Item .AuthorWrap .MItem {
  display: block;
  margin: 0;
}
.Section-Discussion #Content .Item .Author {
  display: block;
}
.Section-Discussion #Content .Item .Author a {
  font-size: 11px;
}
.Section-Discussion #Content .Item .Author .PhotoWrap {
  display: block;
  float: none;
  margin: 0 0 5px 0;
}
.Section-Discussion #Content .Item .Meta, .Section-Discussion #Content .Item .Item-BodyWrap {
  margin-left: 140px;
}
.Section-Discussion #Content .Item .Item-Header {
  margin: 0;
}
.Section-Discussion #Content .Item .Message {
  font-size: 100%;
  line-height: 1.35;
}
.Section-Discussion #Content .Item .PostEdited {
  color: #999999;
  font-size: 80%;
  margin-top: 10px;
}
.Section-Discussion #Content .Item.Buried {
  padding: 10px 0;
}
.Section-Discussion #Content .Item.Buried .Author {
  display: inline-block;
}
.Section-Discussion #Content .Item.Buried .Author .PhotoWrap {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.Section-Discussion #Content .Item.Buried .AuthorWrap {
  display: inline-block;
  float: none;
}
.Section-Discussion #Content .Item.Buried .AuthorWrap .Username, .Section-Discussion #Content .Item.Buried .AuthorWrap .MItem {
  display: inline-block;
}
.Section-Discussion #Content .Item.Buried .Meta, .Section-Discussion #Content .Item.Buried .Item-BodyWrap {
  margin-left: 0;
}
.Section-Discussion #Content .Item .CommentNumber {
  position: absolute;
  top: 6px;
  right: 5px;
}
.Section-Discussion #Content .Item .CommentNumber a {
  color: #8e8e8e;
}
.Section-Discussion #Content .ItemDiscussion {
  background: none;
  border-top: 1px solid #B8B8B8;
  border-bottom: 8px solid #E1E1E1;
}

.ItemDiscussion .Meta, .DataList .Meta {
  color: #1e79a7;
  font-size: 13px;
  font-weight: bold;
}

.DiscussionMeta .MItem,
.CommentMeta .MItem {
  margin: 0;
}
.DiscussionMeta .MItem:before,
.CommentMeta .MItem:before {
  content: " \00B7 ";
}
.DiscussionMeta .DateCreated:before,
.CommentMeta .DateCreated:before {
  content: "";
}

.Item .Reactions > * {
  visibility: visible;
}

.ReactButton {
  margin: 0;
  padding: 0 10px;
  border-color: #CCC;
  border-width: 0 0 0 1px;
  border-style: solid;
}

.ReactSprite {
  vertical-align: bottom;
}

.ReactButton-Flag:first-child {
  border: none;
}

.ReactReply {
  float: right;
  border-left: 0;
}
.ReactReply .SpReply {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("images/reply-icon.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
}

/* Switch to the white icons when hovering over a menuitem sprite */
.MenuItems a:hover .ReactSprite,
.MenuItems a:hover .Sprite {
  background-image: url('images/sprites-14-fff.png?1405018157');
}

/* Switch to bordered icons for user reaction overlays */
.UserReactionWrap .ReactSprite {
  background-image: url('images/sprites-14-000-bordered.png?1405018157');
}

.Video.YouTube .VideoPreview:after {
  background-image: url('images/youtube-overlay-button.png?1405018157');
}

.Item .Reactions .Bullet {
  display: none;
}
.Item .Reactions .Flyout .ReactButton {
  border: none;
}

.AuthorWrap .PhotoWrap img {
  height: 80px;
  width: 80px;
}

/** Popups **/
div.Overlay {
  background-color: rgba(255, 255, 255, 0.75);
    overflow-y:scroll;
}

div.Popup .Border {
  max-width: 730px;
  padding: 30px;
  background-color: white;
  border-color: #909191;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.5);
}
div.Popup .Body {
  float: none;
  padding: 0;
  background: none;
}

/** Internal Ads **/
.InternalAd {
  border: solid 1px #b2e2ed;
  box-shadow: 0 0 20px #c9d8e9 inset;
  margin: 15px 0;
  padding: 8px;
  line-height: 1;
  text-align: center;
}
.InternalAd a {
  display: block;
}
.InternalAd .Sprite {
  background: url('images/sprites.png?1405018157') no-repeat -2px -63px;
  display: inline-block;
  height: 36px;
  width: 36px;
  line-height: 30px;
  margin: -3px 0;
}
.InternalAd .SpCollegeSearch {
  background-position: -2px -103px;
}
.InternalAd b {
  display: inline-block;
  vertical-align: bottom;
  line-height: 30px;
}
.InternalAd small {
  font-size: 10px;
  display: block;
  line-height: 16px;
}

/** Ads **/
.Ad img, .Ad iframe {
  display: block;
}
.Ad, .Ad img {
  vertical-align: bottom;
}

.Row-Leaderboard {
  margin: 15px 0 0;
}
.Row-Leaderboard-Bottom {
    margin-bottom: 15px;
}

/** Misc **/
#Panel .BoxNewDiscussion {
  display: none;
}
#Panel .BoxFilter {
  margin-bottom: 10px;
}

.ProfilePhotoLarge {
  width: 160px;
  max-width: 100%;
  height: 160px;
}

.Category-DisallowDiscussions #Content .BoxNewDiscussion {
  display: none;
}

.Section-Welcome #Body #Content {
  max-width: none;
}

.Welcome {
  min-width: 670px;
}
.Welcome h1 {
  margin-bottom: 20px;
  font-size: 26px;
}
.Welcome .AvatarBox {
  *zoom: 1;
  padding: 20px;
  background-color: #F7F6F6;
}
.Welcome .AvatarBox:after {
  content: "";
  display: table;
  clear: both;
}
.Welcome .AvatarBox .PhotoWrap {
  float: left;
}
.Welcome .AvatarBox .ProfilePhoto {
  width: 90px;
  height: 90px;
}
.Welcome .AvatarBox .BoxButtons {
  float: right;
  margin: 20px 0;
}
.Welcome .AvatarBox .Button {
  height: auto;
  padding: 12px 20px;
  font-size: 18px;
}
.Welcome .AvatarOptions {
  padding: 0 20px;
  overflow: hidden;
}
.Welcome .AvatarOptions h3 {
  margin-top: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
}
.Welcome .QuicklinksBox li {
  padding: 15px;
  border-color: #EBEBEB;
  border-width: 0 0 1px;
  border-style: solid;
}
.Welcome .QuicklinksBox li:last-child {
  border: none;
}
.Welcome .QuicklinksBox a {
  display: block;
  font-size: 18px;
}
.Welcome .QuicklinksBox .WelcomeIcon {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  background: url('images/welcome-sc240bb7c4c.png');
}
.Welcome .QuicklinksBox .WelcomeIcon.Megaphone {
  background-position: 0 -35px;
}
.Welcome .QuicklinksBox .WelcomeIcon.Magnifying {
  background-position: 0 0;
}
.Welcome .QuicklinksBox .WelcomeIcon.Facebook {
  background-position: 0 -105px;
}
.Welcome .QuicklinksBox .WelcomeIcon.School {
  background-position: 0 -70px;
}

.Rank {
  color: #999;
  font-weight: bold;
}

.ProfileBox h1.H {
  font-size: 190%;
  margin-bottom: 10px;
}
.ProfileBox h1.H small {
  font-size: 65%;
}
.ProfileBox h1.H .Gloss {
  display: block;
  margin-top: 5px;
  font-size: 60%;
}
.ProfileBox .PhotoWrap {
  float: left;
  margin-right: 25px;
}
.ProfileBox .Wrap {
  *zoom: 1;
  min-height: 160px;
  margin-left: 185px;
}
.ProfileBox .Wrap:after {
  content: "";
  display: table;
  clear: both;
}
.ProfileBox .ProfileInfo {
  float: left;
  width: 250px;
  margin-right: 20px;
}
.ProfileBox .ProfileOptions {
  float: left;
}
.ProfileBox .ProfileOptions .NavButton {
  background-color: #fd7e28;
  background-image: none;
  color: #fff;
  font-weight: bold;
  text-shadow: none;
  -webkit-border-radius: 0.7ex;
  -moz-border-radius: 0.7ex;
  -ms-border-radius: 0.7ex;
  -o-border-radius: 0.7ex;
  border-radius: 0.7ex;
  padding: 1px 8px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 1ex;
  border-width: 0;
  box-shadow: none;
}
.ProfileBox .ProfileOptions .NavButton:hover {
  background-color: #fc9d2c;
  color: #fff;
  text-decoration: none !important;
}
.ProfileBox .ProfileOptions .NavButton .Hidden {
  display: inline;
}
.ProfileBox .ProfileOptions .Dropdown {
  left: 0;
  right: auto;
}
.ProfileBox dl.About dt {
  float: left;
  clear: left;
  width: auto;
  margin-right: 4px;
  color: #000;
  font-weight: bold;
}
.ProfileBox dl.About dd {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ProfileBox dl.About dt,
.ProfileBox dl.About dd {
  font-size: 12px;
  line-height: 16px;
}
.ProfileBox div.About {
  float: right;
  width: 290px;
  margin: 0;
}
.ProfileBox .Essentials {
  *zoom: 1;
  margin-bottom: 10px;
  color: #666;
  font-size: 15px;
  text-transform: uppercase;
}
.ProfileBox .Essentials:after {
  content: "";
  display: table;
  clear: both;
}
.ProfileBox .Essentials b {
  color: #000;
}
.ProfileBox .Essentials span {
  float: left;
  margin-right: 20px;
}
.ProfileBox .Essentials span:last-child {
  margin-right: 0;
}
.ProfileBox .ReactionsWrap {
  margin: 10px 0 15px;
  padding: 5px 0;
  clear: both;
  border-color: #EDEDED;
  border-width: 1px 0;
  border-style: solid;
}
.ProfileBox .ReactionsWrap h5 {
  margin: 0;
  color: #999999;
}
.ProfileBox .ReactionsWrap .ReactSprite {
  background-image: url("//vanillicon.com/sprites/sprites-14-8e8e8e.png");
  margin-right: 5px;
  vertical-align: middle;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ProfileBox .ReactionsWrap .ReactSprite {
    background-image: url("//vanillicon.com/sprites/sprites-28-8e8e8e.png");
    background-size: 396px;
  }
}
.ProfileBox .DataCounts {
  margin: 0;
  text-align: left;
}
.ProfileBox .DataCounts .TextColor {
  color: #1e79a7;
}
.ProfileBox .DataCounts .TextColor:hover {
  color: #42abcf;
}
.ProfileBox .CountItemWrap {
  width: auto;
}
.ProfileBox .CountItem {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.ProfileBox .CountLabel {
  font-weight: bold;
}
.ProfileBox .CountTotal {
  display: inline;
  font-size: 13px;
}

/* Embedded comments */
.Embed .Comments .Item .Comment .CommentNumber {
  float: right;
}
.Embed .Comments .Item .Comment .CommentHeader .AuthorWrap {
  display: inline;
  padding: 0px 10px 0px 0px;
}
.Embed .Comments .Item .Comment .CommentHeader .AuthorWrap .AuthorInfo {
  display: none;
}
.Embed .Comments .Item .Comment .CommentHeader .CommentMeta {
  display: inline-block;
  margin: 0px;
  padding: 0px 5px;
  border-color: #CCC;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
}
.Embed .Comments .Item .Comment .CommentHeader .CommentMeta .DateCreated a, .Embed .Comments .Item .Comment .CommentHeader .CommentMeta .IPAddress a {
  color: #ccc;
  font-weight: normal;
}
.Embed .Comments .Item .Comment .CommentHeader .CommentMeta .IPAddress:before {
  content: "\00B7";
  color: #ccc;
  margin: 0px 5px;
}
.Embed .Comments .Item .Comment .Item-BodyWrap .Item-Body .Reactions {
  text-align: right;
}
.Embed .Comments .Item .Comment .Item-BodyWrap .Item-Body .Reactions .ReactReply {
  display: none;
}

#Head {
  background: rgba(65, 138, 163, 0.9);
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.6);
  font-family: 'Open Sans', Arial, sans-serif;
}
#Head .Button {
  background-color: #ffb534;
}
#Head .Button:hover {
  background-color: #fc9d2c;
}
#Head a {
  color: #fff;
  font-weight: normal;
}
#Head a:hover {
  text-decoration: none;
}
#Head #Logo {
  float: left;
  margin-top: 10px;
}
#Head #Logo a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/logo.png?1412020035');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 177px;
  height: 75px;
  display: block;
}
#Head .HeaderRight {
  width: 75%;
  float: right;
  text-align: right;
  *zoom: 1;
}
#Head .HeaderRight:after {
  content: "";
  display: table;
  clear: both;
}
#Head .TopQuote {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/nytquote.png?1405018157');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 169px;
  height: 40px;
  float: left;
  width: 169px;
  margin: 38px 0 14px 60px;
}
#Head .MeBox {
  display: block;
  margin: 11px 0 0 10px;
}
#Head .MeBox a {
  color: white;
  font-size: 12px;
  vertical-align: middle;
}
#Head .MeBox a:hover {
  color: #ffb534;
}
#Head .MeBox-SignIn a {
  font-size: 13px;
  font-weight: bold;
  color: white;
}
#Head .MeBox-SignIn .Bullet {
  content: "";
  font-size: 0;
  color: transparent;
}
#Head .MeBox-SignIn .Bullet:after {
  content: "|";
  display: inline;
  font-size: 13px;
  color: #fff;
}
#Head .MeBox-SignIn .ApplyButton {
  color: white;
  background-color: #ffb534;
  padding: 1px 8px;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 0.7ex;
  display: inline-block;
}
#Head .MeBox-SignIn .ApplyButton:hover {
  color: white;
  background-color: #fc9d2c;
}
#Head .SearchForm {
  margin: 11px 0 0 0;
  *zoom: 1;
  width: 220px;
}
#Head .SearchForm:after {
  content: "";
  display: table;
  clear: both;
}
#Head .SearchForm .InputBox {
  width: 166px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  font-size: 14px;
}
#Head .SearchForm .InputBox:focus {
  border-color: #42ABCF;
}
#Head .SearchForm .InputBox, #Head .SearchForm .Button {
  display: inline-block;
}
#Head .SearchForm .Button {
  height: 25px;
  line-height: 25px;
}
#Head .MeBox, #Head .SearchForm {
  float: right;
}
#Head .MenuItems {
  text-align: left;
}
#Head .MeBox .FlyoutMenu {
  text-align: left;
}

#megamenu .mega-menu {
  z-index: 1000 !important;
}

.NavButton.Handle .Sprite, .Button.Handle .Sprite {
  width: 0;
}

.footer {
  clear: both;
  background: #666666;
  padding: 40px 0;
  color: #fff;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  line-height: normal;
}
.footer a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 5px 0;
}
.footer a:hover {
  color: #000;
}
.footer .colmn1 {
  width: 35%;
  float: left;
  margin-right: 2.5%;
}
.footer .colmn1 li {
  width: 30%;
  float: left;
  margin-right: 3%;
}
.footer .colmn2 {
  width: 40%;
  float: left;
  margin-right: 2.5%;
  position: relative;
}
.footer .colmn2 p {
  margin: 10px 0;
}
.footer .colmn3 {
  width: 20%;
  float: right;
  margin-top: -15px;
}
.footer .colmn3 a {
  opacity: 1;
}
.footer .colmn3 a:hover {
  opacity: 0.7;
}
.footer .colmn3 p {
  margin: 10px 20px;
}
.footer h2 {
  font-size: 14px;
  border-bottom: solid 1px #999;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
}

.fix_wrapper {
  width: 98%;
  max-width: 970px;
  margin: 0 auto;
  position: relative;
}

.soc_ficon {
  position: absolute;
  top: -11px;
  right: 0;
}
.soc_ficon a {
  float: left;
  padding: 0;
}

.hob_logo {
  margin-left: 20px;
}

.FeaturedDiscussions h2 {
  color: #555555;
  font-weight: normal;
  text-transform: uppercase;
}
.FeaturedDiscussions h2 a {
  text-transform: capitalize;
}

.FeaturedDiscussionsTable {
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 10px solid #eee;
}
.FeaturedDiscussionsTable .DiscussionName a {
  margin-left: 5px;
  text-transform: none;
}

.sliderkit {
  display: none;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: left;
}
.sliderkit img {
  border: 0;
  width: 100%;
}
.sliderkit .sliderkit-nav {
  float: right;
}
.sliderkit .sliderkit-nav-clip {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.sliderkit .sliderkit-nav-clip ul {
  position: relative;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sliderkit .sliderkit-nav-clip ul li {
  float: left;
}
.sliderkit .sliderkit-nav-clip ul li a {
  display: block;
  overflow: hidden;
}
.sliderkit .sliderkit-btn {
  z-index: 10;
}
.sliderkit .sliderkit-panel {
  z-index: 1;
  position: absolute;
  overflow: hidden;
}
.sliderkit .sliderkit-panel-active {
  z-index: 5;
}
.sliderkit .sliderkit-panel-old {
  z-index: 4;
}
.sliderkit .sliderkit-panel .sliderkit-panel-textbox {
  z-index: 1;
}
.sliderkit .sliderkit-panel .sliderkit-panel-text {
  z-index: 3;
  top: 0;
  left: 0;
}
.sliderkit .sliderkit-count {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  padding: 5px;
  color: #fff;
  background: #000;
}
.sliderkit .sliderkit-timer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 3px;
  background: #ccc;
}

.photosgallery-vertical {
  width: 765px;
  height: 315px;
}
.photosgallery-vertical .sliderkit-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 265px;
  height: 100%;
  padding: 35px 0;
  background: #585858;
}
.photosgallery-vertical .sliderkit-nav-clip ul li {
  display: table;
  margin: 0;
  padding: 0;
}
.photosgallery-vertical .sliderkit-nav-clip ul li:nth-child(5n+5) a {
  border-bottom-width: 1px;
}
.photosgallery-vertical .sliderkit-nav-clip ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  width: 265px;
  height: 49px;
  padding: 0 20px;
  border-color: #747474;
  border-width: 1px 0 0;
  border-style: solid;
  color: white;
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
}
.photosgallery-vertical .sliderkit-nav-clip ul li a:hover {
  background-color: #388CA7;
}
.photosgallery-vertical .sliderkit-nav-clip ul li span {
  display: block;
  max-height: 32px;
  overflow: hidden;
  line-height: 16px;
}
.photosgallery-vertical .sliderkit-nav-clip ul li.sliderkit-selected a {
  background-color: #19C0F7;
}
.photosgallery-vertical .sliderkit-nav {
  position: relative;
}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn {
  position: absolute;
  right: 0;
  width: 100%;
}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn a {
  display: block;
  height: 13px;
  padding: 8px 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn a span {
  display: none;
}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev {
  top: 0;
}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next {
  bottom: 0;
}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev a {
  background-image: url('images/arrow-up.png?1405018157');
}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next a {
  background-image: url('images/arrow-down.png?1405018157');
}
.photosgallery-vertical .sliderkit-go-btn a {
  width: 200px;
  height: 300px;
  background: #ccc;
  opacity: .8;
}
.photosgallery-vertical .sliderkit-go-prev {
  top: 0;
  left: 0;
}
.photosgallery-vertical .sliderkit-go-next {
  top: 0;
  right: 0;
}
.photosgallery-vertical .sliderkit-panel {
  top: 0;
  left: 0;
  width: 500px;
  height: 315px;
  margin-right: 265px;
  background: #91BAE6;
}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-textbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-text {
  padding: 10px 15px;
  color: 900;
}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-text h4 {
  margin: 0 0 7px;
  font-size: 18px;
}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-text p {
  margin: 8px 0px;
  line-height: 18px;
}

#Guest {
  position: relative;
  margin: 20px 0;
}
#Guest .textGuest {
  color: #888888;
  font-size: 12px;
  padding-bottom: 5px;
  line-height: 15px;
}
#Guest .GuestBox {
  float: left;
  width: 585px;
  height: 238px;
  padding: 0 15px 12px;
}
#Guest .GuestBox {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(75%, rgba(225, 238, 247, 0)), color-stop(100%, #e1eef7));
  background-image: -webkit-linear-gradient(rgba(225, 238, 247, 0) 75%, #e1eef7);
  background-image: -moz-linear-gradient(rgba(225, 238, 247, 0) 75%, #e1eef7);
  background-image: -o-linear-gradient(rgba(225, 238, 247, 0) 75%, #e1eef7);
  background-image: linear-gradient(rgba(225, 238, 247, 0) 75%, #e1eef7);
}
#Guest .GuestTitles {
  float: left;
}
#Guest .GuestTitles .GuestTitle {
  font-size: 30px;
}
#Guest .GuestTitles .GuestSubtitle {
  color: #999999;
  font-weight: normal;
  font-size: 18px;
}
#Guest .GuestSolicitJoin {
  float: left;
  clear: left;
  width: 285px;
}
#Guest .GuestSolicitJoin .ButtonHuge {
  height: auto;
  margin: 15px 0;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 23px;
}
#Guest .GuestListBenefits {
  width: 280px;
  float: left;
  padding: 5px 0 0 20px;
}
#Guest .GuestListBenefits .GuestTitleBenefits {
  font-size: 15px;
  color: #777777;
  padding-bottom: 5px;
}
#Guest .GuestListBenefits li {
  padding: 4px 25px 4px 0;
}
#Guest .GuestListBenefits li:before {
  content: '\203A';
  font-size: 30px;
  margin: -2px 0 0 0;
  float: left;
  width: 20px;
  height: 20px;
  color: #18A6BB;
}
#Guest .Ad {
  position: absolute;
  right: 0;
}

.Resources {
  font-size: 12px;
}
.Resources .ResourceToggle {
  margin: 0;
  padding: 6px 10px;
  background-color: #538DAF;
  line-height: 16px;
}
.Resources .ResourceToggle a {
  color: #FFF;
}
.Resources .ResourceToggle.close {
  background-color: #F3F2F2;
}
.Resources .ResourceToggle.close a {
  color: #000;
}
.Resources .ResourceToggle.close .Arrow {
  color: #538DAF;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.Resources .ResourceToggle .Arrow {
  display: inline-block;
  width: 16px;
  font-size: 14px;
  text-align: center;
}
.Resources .Collapsible {
  padding: 12px;
}

.ResourceInfo {
  width: 100%;
  margin: 25px 0;
}
.ResourceInfo td {
  vertical-align: top;
}
.ResourceInfo .ResourceImage {
  width: 122px;
}
.ResourceInfo .ResourceImage img {
  display: block;
  max-width: 100%;
  border-color: #D4D4D4;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.ResourceInfo .ResourceMeta {
  padding-left: 20px;
  color: #666;
  font-size: 12px;
}
.ResourceInfo .ResourceMeta .HubPage {
  margin-top: 4px;
}
.ResourceInfo .ResourceMeta .HubPage a {
  font-weight: bold;
  font-size: 13px;
}
.ResourceInfo .ResourceMeta .Address, .ResourceInfo .ResourceMeta .City {
  line-height: 16px;
}
.ResourceInfo .ResourceButtons {
  vertical-align: middle;
  text-align: right;
}

.ResourceProducts ul {
  *zoom: 1;
}
.ResourceProducts ul:after {
  content: "";
  display: table;
  clear: both;
}
.ResourceProducts li {
  float: left;
  width: 33.33333%;
}
.ResourceProducts li:nth-child(3n+1) {
  clear: left;
}
.ResourceProducts a {
  font-weight: bold;
}

.ResourceProfiles {
  margin-top: 12px;
}
.ResourceProfiles h4 {
  margin: 0;
  border-color: #CECECE;
  border-width: 0 0 1px;
  border-style: solid;
}
.ResourceProfiles li {
  border-color: #E9E9E9;
  border-width: 0 0 1px;
  border-style: solid;
  line-height: 25px;
}
.ResourceProfiles a {
  font-weight: bold;
}

.Search-Module {
  float: right;
  width: 250px;
}
.Search-Module form > div {
  display: inline;
}
.Search-Module form input.Button {
  width: 28px;
  margin-right: 1px;
  background-image: url('images/magnifying_glass.png?1405018157');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65%;
  border-radius: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

.Search-Options .Dropdown {
  left: auto;
  right: 0;
}
.Search-Options .Dropdown li:last-child {
  margin-top: 5px;
  padding-top: 5px;
  border-color: #CFCFCF;
  border-width: 1px 0 0;
  border-style: solid;
}
.Search-Options .Button.Handle {
  border-radius: 4px;
}
.Search-Options .Button.Handle .Sprite {
  vertical-align: top;
  top: 4px;
}
.Search-Options .Active:before {
  content: "\2713";
  display: block;
  float: right;
  width: 1em;
}
